html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

html body #bg {
  padding-bottom: 28vh;
  background: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-position: 15vw;
}

html body #nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

html body #nav-cont #heading-cont {
  margin: 4vh 3vw;
}

html body #nav-cont #heading-cont h2 {
  margin: 0;
}

html body #nav-cont #heading-cont:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 10px;
  -webkit-text-decoration-color: #39ff14;
          text-decoration-color: #39ff14;
}

html body #nav-cont .navLink {
  margin: 4vh;
  border: 1px solid #39ff14;
  padding: 0.4rem 1.5rem;
  border-radius: 4px;
}

html body #nav-cont .navLink:hover {
  background: #39ff14;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

html body #nav-cont .navLink:hover a {
  color: black;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

html body #nav-cont .navLink a {
  text-decoration: none;
  color: white;
}

html body #nav-cont nav {
  position: fixed;
  right: 2vw;
}

html body #nav-cont nav #navburg img {
  height: 30px;
  width: 30px;
  opacity: 0.8;
  padding: 5px;
  margin-top: 3vh;
}

html body #nav-cont nav #navburg img:hover {
  opacity: 1;
  cursor: pointer;
}

html body .sheading {
  margin: 0 5vw;
}

html body .sheading h2 {
  font-family: "Roboto", sans-serif;
  padding: 1vh;
  color: white;
  margin: 0 2vw;
  font-weight: lighter;
}

html body #s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-family: "Roboto", sans-serif;
}

html body #s1 #main-card {
  color: white;
  margin: 5vh 5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

html body #s1 #main-card #greeting {
  font-size: 1.2rem;
}

html body #s1 #main-card h1 {
  font-size: 5rem;
  margin: 0.5rem 0;
  background: -webkit-gradient(linear, left top, right top, from(crimson), color-stop(pink), color-stop(#00ff15), color-stop(#00f7ff), to(#fffb00));
  background: linear-gradient(to right, crimson, pink, #00ff15, #00f7ff, #fffb00);
  background-size: 200% 200%;
  -webkit-animation: rainbow 1s ease-in-out infinite;
          animation: rainbow 1s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
}

html body #s1 #main-card #whatido {
  color: #39ff14;
  font-size: 3rem;
  font-weight: bold;
}

html body #s1 #main-card #description {
  font-size: 1.2rem;
  margin-top: 1.5 vh;
  color: #817c7c;
}

html body #s1 #main-card #hire-me-btn {
  margin-top: 1.5vh;
  padding: 0.4rem 1.5rem;
  font-size: 2rem;
  border-radius: 45px;
  color: white;
  background-color: transparent;
  border: 2px solid #39ff14;
}

html body #s1 #main-card #hire-me-btn svg {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

html body #s1 #main-card #hire-me-btn:hover {
  cursor: pointer;
  background-color: #39ff14;
  border-color: black;
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

html body #s1 #main-card #hire-me-btn:hover svg {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

html body #s1 #main-card:hover h1 {
  color: rgba(0, 0, 0, 0);
}

html body .img-invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

html body #s2 {
  color: white;
  font-family: "Roboto", sans-serif;
}

html body #s2 #skills-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

html body #s2 #skills-cont h3, html body #s2 #skills-cont h4 {
  padding: 1vh;
  color: white;
  font-weight: lighter;
  margin: 0 2vw;
}

html body #s2 .skill-group li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin: 10px 2vw;
  list-style: none;
  height: 35px;
  border-bottom: 1px solid #39ff14;
  border-left: 1px solid #39ff14;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
}

html body #s2 .skill-group li:hover {
  border-color: #f9002c;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer;
}

html body #s2 .skill-group li h4 {
  font-size: 1rem !important;
}

html body #s2 .skill-group li img {
  width: 35px;
  margin-right: 8px;
}

html body #s2 .skill-group ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

html body #s3 {
  margin-top: 0vh;
}

html body #s3 #projects-cont {
  margin-top: 3vh;
  margin: 2vh auto;
  width: 70vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  will-change: transform;
  gap: 2rem;
}

html body #s3 #projects-cont .proj {
  opacity: 0.9;
}

html body #s3 #projects-cont .proj:nth-of-type(n) {
  background: -webkit-gradient(linear, left top, right top, from(#eeaeca), to(#94bbe9));
  background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
}

html body #s3 #projects-cont .proj:nth-of-type(2n) {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #ffe5a8 0%, #fbaede 100.7%);
}

html body #s3 #projects-cont .proj:nth-of-type(3n) {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #ffe5a8 0%, #fbaede 100.7%);
}

html body #s3 #projects-cont .proj:hover {
  background: black;
  color: white;
  border: 0.2px solid white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

html body #s3 #projects-cont .proj:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

html body #s3 #projects-cont .proj:hover svg {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

html body #s3 #projects-cont .proj .proj-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 1rem;
  margin-top: 1rem;
}

html body #s3 #projects-cont .proj .proj-head a img {
  width: 20px;
  margin: 5px;
}

html body #s3 #projects-cont .proj .proj-head a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body #s3 #projects-cont .proj .proj-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 6rem;
  margin-top: 8rem;
  padding-right: 1vw;
}

html body #s3 #projects-cont .proj .proj-title p {
  margin-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

html body #nav-overlay {
  position: fixed;
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
  background-color: #09f755;
  z-index: 2;
}

html body #nav-overlay #ol-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10vh 20vw;
}

html body #nav-overlay #ol-links .nheader span {
  font-family: "Roboto", sans-serif;
  font-size: 1.55rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

html body #nav-overlay #ol-links .nheader span:hover {
  cursor: pointer;
  letter-spacing: 4px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #nav-overlay #ol-links div {
  margin: 4vh 3vw;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

html body #nav-overlay #ol-links div:hover {
  cursor: pointer;
  text-underline-offset: 10px;
}

html body #nav-overlay #ol-links .nlink a {
  text-decoration: none;
  color: black;
}

html body #nav-overlay #ol-links .nlink a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 10px;
}

html body #nav-overlay #ol-links .nlink ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #nav-overlay #ol-links .nlink ul li {
  padding: 10px;
}

html body #nav-overlay #ol-links .nlink ul li:hover {
  background-color: black;
  color: white;
}

html body #nav-overlay #overlay-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 3vw;
}

html body #nav-overlay #overlay-nav img {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-top: 3vh;
  border-radius: 30px;
  background-color: black;
}

html body #nav-overlay #overlay-nav img:hover {
  cursor: pointer;
}

html body #nav-overlay h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

html body #nav-overlay h1:hover {
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #nav-overlay button {
  border: 2px solid black;
  color: black;
  border-radius: 45px;
  padding: 1.3vh 4vh;
  font-size: larger;
  background-color: transparent;
}

html body #nav-overlay button:hover {
  background-color: black;
  color: #39ff14;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

html body #nav-overlay #overlay-cont {
  height: 100vh;
}

html body #nav-overlay #overlay-cont #overlay-g1 {
  margin: 15vh 9vw;
}

html body #nav-overlay #overlay-cont #overlay-g1 #g1-1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

html body #nav-overlay #overlay-cont #overlay-g1 #g1-1:hover {
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #nav-overlay #overlay-cont #overlay-g1 #social-cont {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5vh 2vw;
  gap: 4vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

html body #nav-overlay #overlay-cont #overlay-g1 #social-cont div img {
  height: 30px;
  padding: 1rem;
}

html body #nav-overlay #overlay-cont #overlay-g1 #social-cont div .invert {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

html body #nav-overlay #overlay-cont #overlay-g1 #social-cont div:hover {
  cursor: pointer;
  background-color: black;
}

html body #nav-overlay #overlay-cont #overlay-g1 #social-cont div:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

html body .display {
  display: none;
}

@media screen and (max-width: 1133px) {
  body #bg {
    background-position: center center;
  }
}

@media screen and (max-width: 999px) {
  #overlay-g1 {
    margin: 0 !important;
    margin-left: 7vw !important;
  }
  #social-cont {
    margin: 0 !important;
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  #ol-links {
    margin-left: 7vw !important;
  }
  #ol-links div {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1000px) {
  #overlay-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  #bg {
    padding: 0 !important;
  }
  #projects-cont {
    width: 90vw !important;
    -ms-grid-columns: 250px !important;
        grid-template-columns: 250px !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin: 2vh 2vh 2vh 2vh !important;
  }
  #projects-cont .proj {
    height: 200px;
  }
  #projects-cont .proj .proj-head {
    margin: 0 !important;
  }
  #projects-cont .proj .proj-title h2 {
    margin: 70px 0 0 2rem !important;
  }
  #projects-cont .proj .proj-title p {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  #social-cont {
    margin: 0 !important;
  }
  #overlay-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #ol-links {
    margin-left: 10vw !important;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
/*# sourceMappingURL=style.css.map */