:root {

    --mainColor: #15202b;
    --secondaryColor:#192734 ;
    --borderColor:#164d56;
    --mainText:#fff;
    --secondaryText:#eeeeee;
    --themeBorder:#fff;
    --previewBG:rgb(25,39,52, 0.8);
    --previewShadow:#111921

}